label {
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
}
h3 {
    font-family: PlayfairDisplay;
}
button { 
    font-family: Inter;
    width:200px;
    font-size:14px;
}
.required {
    color: red;
}
@media screen and (max-width:500px) {
    .container {
        align-content: space-around;
    }
    button {
        width:100px;
    }
}
